/* ===========================
  GLOBAL STYLES ELEMENTS
=========================== */

@import '../01-settings/index.scss';

*, ::before, ::after {
  box-sizing: border-box;
  outline: none;
  font-display: auto;
}

*, ::before, ::after {
  box-sizing: border-box;
  outline: none;
}


// html {
//   font-size: $html-font-size-lg;
//   line-height: 23px;
//   &{
//     @include media-breakpoint-only(xs) {
//       font-size: $html-font-size-xs;
//     }

//     @include media-breakpoint-only(sm) {
//       font-size: $html-font-size-sm;
//     }

//     @include media-breakpoint-only(md) {
//       font-size: $html-font-size-md;
//     }
//   }
// }

body {
  margin: 0px;
  padding: 0px;
  background-attachment:fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: $font-regular;
  min-height: 100vh;
  width: 100%;
  background-position-y: 60%;
}

button {
  border: none;
  outline: none;
}

a {
  display: inline-block;
}