@font-face {
  font-family: 'Gotham-Regular';
  src: url('GothamMedium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham-Light';
  src: url('GothamLight.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Gotham-Bold';
  src: url('GothamBold.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
