<section class="header">
  <img src="/assets/images/logo.webp" />
</section>
<section class="content">
  <h1>Frontend Angular <span>v1</span></h1>
  <div class="content__info">
    <p>
      El siguiente proyecto tiene una estructura base para el desarrollo de
      aplicaciones web utilizando el Framework Angular 8.
    </p>
    <h4>Módulos del proyecto</h4>
    <ul>
      <li>
        <a routerLink="/auth">Login</a>
      </li>
      <li>
        <a routerLink="/dashboard">Dashboard</a>
      </li>
    </ul>
    <h4>Documentación</h4>
    <p>
      Para poder ver la documentación completa ejecutar el siguiente comando:
    </p>
    <div class="content__shell">
      $npm run storybook
    </div>
  </div>
</section>
