@import 'styles';

.header {
  background: black;
  width: 100;
  text-align: center;
  padding: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #4D4D4D;
  min-height: 70vh;

  &__info {
    width: 40%;
  }

  &__shell {
    background-color: black;
    color: #dedede;
    font-weight: 400;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
  }
  h1 {
    span {
      font-size: 14px;
      color: #989898;
    }
  }
  p {
    font-family: $font-light;
  }

}


