<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-4 ">
      <div class="card p-5">
        <img src="/assets/images/logo.webp" width="100px" atl="Logo Solera">
        <input class="form-control" type="text">
      </div>
    </div>
  </div>
</div>
