:host {
  display: flex;
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  z-index: 200;
  .steps {
    background: #F0F2F5;
    display: flex;
    height: 54px;
    position: relative;
    width: 100%;
    padding: 0 45px;
    margin-left: auto;
    margin-right: auto;
    .bar {
      display: block;
      position: absolute;
      width: calc(100% - 90px);
      height: 3px;
      border-radius: 10px;
      background-color: #dcdcdc;
      align-self: center;
      z-index: 1;
      overflow: hidden;
      &__progress {
        width: 0;
        background: #01a1e7;
        height: 5px;
        border-radius: 100px;
        transition: all 0.7s ease-in-out;
      }
    }

    .numbers {
      align-self: center;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 10;
      font-family: 'Telefonica-Bold', sans-serif;
      &__item {
        height: 13px;
        width: 13px;
        font-size: 8px;
        background: #dcdcdc;
        border-radius: 100px;
        text-align: center;
        color: #dcdcdc;
        transition: all 0.7s linear;
        &.active {
          color: white;
          background: #01a1e7;
          width: 20px;
          height: 20px;
          font-size: 14px;
        }
      }
    }
  }

}
