<div class="steps">
  <div class="bar">
    <div class="bar__progress"></div>
  </div>
  <div class="numbers">
    <div
      class="numbers__item"
      *ngFor="let step of steps; let i = index"
      [ngClass]="{
        active:
          i <= (current | async) - 1 || ((current | async) === 1 && i === 0)
      }"
    >
      {{ i + 1 }}
    </div>
  </div>
</div>
