<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  class="needs-validation"
  #ngForm="ngForm"
>
  <h4 class="text-center">SIGNUP</h4>
  <div class="form-group">
    <label for="email">Correo*</label>
    <input
      type="fullname"
      class="form-control"
      name="fullname"
      aria-describedby="fullname"
      formControlName="fullname"
      placeholder="Ingresar nombre y apellido"
      [ngClass]="{
        'is-invalid':
          f('fullname').errors && (f('fullname').touched || ngForm.submitted),
        'is-valid':
          !f('fullname').errors && (f('fullname').touched || ngForm.submitted)
      }"
    />
    <div
      *ngIf="
        f('fullname').errors && (f('fullname').touched || ngForm.submitted)
      "
      class="invalid-feedback"
    >
      <span *ngIf="f('fullname').errors.required">Campo requerido</span>
    </div>
  </div>
  <div class="form-group">
    <label for="email">Correo*</label>
    <input
      type="email"
      class="form-control"
      name="email"
      aria-describedby="email"
      formControlName="email"
      placeholder="Ingresar correo"
      [ngClass]="{
        'is-invalid':
          f('email').errors && (f('email').touched || ngForm.submitted),
        'is-valid':
          !f('email').errors && (f('email').touched || ngForm.submitted)
      }"
    />
    <div
      *ngIf="f('email').errors && (f('email').touched || ngForm.submitted)"
      class="invalid-feedback"
    >
      <span *ngIf="f('email').errors.required">Campo requerido</span>
      <span *ngIf="f('email').errors.email">Formato incorrecto</span>
    </div>
  </div>

  <div class="form-group">
    <label for="password">Contraseña*</label>
    <input
      type="password"
      class="form-control"
      name="password"
      aria-describedby="password"
      formControlName="password"
      placeholder="Contraseña"
      [ngClass]="{
        'is-invalid':
          f('password').errors && (f('password').touched || ngForm.submitted),
        'is-valid':
          !f('password').errors && (f('password').touched || ngForm.submitted)
      }"
    />
    <div
      *ngIf="
        f('password').errors && (f('password').touched || ngForm.submitted)
      "
      class="invalid-feedback"
    >
      Campo requerido
    </div>
  </div>
  <button
    type="submit"
    class="btn btn-primary w-100 mb-3"
    [disabled]="isSubmit"
    appLoading
    show="{{ isSubmit }}"
  >
    {{ !!isSubmit ? "&nbsp;" : "Registrarse" }}
  </button>
  <a routerLink="/auth/login" class="mr-3">Login</a>
  <a routerLink="/">Home</a>
</form>
