@import "styles";

:host {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 500px;
  height: max-content;
  overflow: hidden;
  justify-content: flex-end;
  z-index: 0;
  .snackbar {
    z-index: 1000;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 25px;
    .item {
      background: #efefef;
      height: 100px;
      margin-bottom: 10px;
      padding: 30px;
      right: 0;
      color: #ffffff;
      position: relative;

      &__info {
        width: 100%;
      }
      &--default {
        background: #efefef;
      }
      &--success {
        background: var(--success);
      }
      &--info {
        background: var(--info);
      }
      &--danger {
        background: var(--danger);
      }
      &--warning {
        background: var(--warning);
      }

      &:hover {
        box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.44);
      }

      &__close {
        position: absolute;
        top: 10px;
        right: 10px;
        height: 15px;
        width: 15px;
        cursor: pointer;
        &::before {
          content: "";
          transform: rotate(45deg);
          display: block;
          z-index: 100;
          height: 2px;
          background: #e8e6e6;
          margin-top: 6px;
        }
        &::after {
          content: "";
          transform: rotate(-45deg);
          display: block;
          z-index: 100;
          height: 2px;
          background: #e8e6e6;
          margin-top: -2px;
        }
        &:hover {
          &::before,
          &::after {
            background: white;
          }
        }
      }
    }
  }
}
