<div
  class="snackbar"
  [@cardAnimation]="(elements$ ).length"
  *ngIf="(elements$).length > 0"
>
  <div
    *ngFor="let e of (elements$); let i = index"
    class="item d-flex {{ 'item--' + e.element.status }}"
    (mouseover)="mouseover(i)"
    (mouseout)="mouseout()"
  >
    <div class="item__info d-flex flex-column " *ngIf="e.active">
      <span class="item__close" (click)="remove(i)"></span>
      <span>
        {{ e.element.title }}
      </span>
      <span>
        {{ e.element.description }}
      </span>
    </div>
  </div>
</div>
