<h4>Listado de usuarios</h4>
<table class="table table-hover" appLoading show="{{ loading }}" color="#1ca4fc">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Nombre</th>
      <th scope="col">Correo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users; let i = index">
      <th scope="row">{{ !!user.username ? i + 1 : '' }}</th>
      <td>{{ user.username | slice: 0:50 }}</td>
      <td>{{ user.name | slice: 0:50 }}</td>
      <td>{{ user.email | slice: 0:50 }}</td>
    </tr>
  </tbody>
</table>
