/* ===========================
  VARIABLES
=========================== */
// Colors
$primary-color: #f06;
$secondary-color: #279c7b;
$green-color: rgb(10, 218, 123);
$green-color-secondary: #0ada7b;

// Breakpoints media-queries
$breakpoint-xs: 320px;
$breakpoint-sm: 767px;
$breakpoint-md: 1023px;
$breakpoint-lg: 1360px;

// Fonts
$font-regular: "Gotham-Regular", sans-serif;
$font-light: "Gotham-Light", sans-serif;
$font-bold: "Gotham-Bold", sans-serif;

// Font size
$html-font-size-lg: 16px;
$html-font-size-md: 15px;
$html-font-size-sm: 14px;
$html-font-size-xs: 13px;

$loader-color: #0052ec;
$loader-size: 56px;
$loader-height: 20px;
$loader-border-size: 8px;
$loader-gap: 12px;
$loader-animation-duration: 1s;
