// // usage: @include button-styles(color, bg-color, border-color);
// @mixin button-styles($color, $bg-color, $border-color:"") {
// 	color: $color;
// 	background-color: $bg-color;
// 	cursor: pointer;
// 	@extend %font-smoothing;
// 	@if $border-color != "" {
// 		border: 1px solid $border-color;
// 	}
	
// 	&:hover{
// 		background-color: darken($bg-color, 10%);
// 	}

// 	&:disabled {
// 		cursor: auto;
// 	}
// }

// // usage: @include input-placeholder { color: $color; }
// @mixin input-placeholder {
// 	&.placeholder { @content; }
// 	&:-moz-placeholder { @content; }
// 	&::-moz-placeholder { @content; }
// 	&:-ms-input-placeholder { @content; }
// 	&::-webkit-input-placeholder { @content; }
// }