// @import '../01-settings/index';

// .btn {
//   color: white;
//   border-radius: 15px;
//   padding: 10px;
//   font-size: 20px;
//   font-family: Roboto, sans-serif;
//   cursor: pointer;
//   @include button-styles(#fff,gray);
//   &.--primary {@include button-styles(#fff,$primary-color);}
//   &.--secondary {@include button-styles(#fff,$secondary-color);}
//   &.--dark {@include button-styles(#fff,#000);}
//   &.--green {@include button-styles(#fff,$green-color-secondary);}
//   &:disabled {
//     background-color:#80808033;
//     &:hover,
//     &:focus {
//       background-color: #80808033;
//     }
//   }
// }