<div class="container">
  <div class="row justify-content-center">
    <div
      class="col-12 col-md-8 col-lg-4 d-flex justify-content-center align-items-center"
      [@fadeAnimationRotate]="o.isActivated ? o.activatedRoute : ''"
    >
      <router-outlet #o="outlet"></router-outlet>
    </div>
  </div>
</div>