<h4>Listado de posts</h4>
<table class="table table-hover" appLoading show="{{ loading }}" color="#1ca4fc">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">body</th>
    </tr>
  </thead>
  <tbody  >
    <tr *ngFor="let post of posts; let i = index">
      <th scope="row">{{ !!post.title ? i + 1 : '' }}</th>
      <td>{{ post.title | slice: 0:50 }}</td>
      <td>{{ post.body | slice: 0:100 }}</td>
    </tr>
  </tbody>
</table>
