<div class="container-fluid" >
  <div class="row justify-content-end">
    <div class="col-2 m-0 p-0 nav d-flex flex-column" >
      <a routerLink="/">
        <img src="/assets/images/logo.webp" class="p-3" alt="Logo Solera" />
      </a>
      <div class="d-flex flex-column w-100">
        <a
          class="menu p-3"
          *ngFor="let route of routes"
          routerLinkActive="active"
          routerLink="{{ route.path }}"
          [routerLinkActiveOptions]="{ exact: route.exact }"
          >{{ route.title }}</a
        >
      </div>
    </div>
    <div
      class="col-10 p-5"
      [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''"
    >
      <router-outlet #o="outlet"></router-outlet>
    </div>
  </div>
</div>
