.col-2 {
  background-color: black;
  color: #2b2b2b;
  height: 100vh;
}

img {
  width: 100%;
  max-width: 161px;
}

.nav {
  position: fixed;
  left: 0;
}

a {
  color: #1ca4fc;
  text-decoration: none;
  &:hover {
    color: white;
  }
}

.active {
  background-color: #2b2b2b;
  color: white;
}